@font-face {
    font-family: 'The Grudge';
    src: url('../fonts/TheGrudge.eot');
    src: url('../fonts/TheGrudge.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TheGrudge.woff') format('woff'),
    url('../fonts/TheGrudge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
}

div.head {
    background: url(../img/the-grudge-movie-reboot.jpg) no-repeat center center;
    height:300px;
    width:100%;
}

div.head h1 {
    color:#fff;
    font-family: 'The Grudge';
    font-size: 5em;
    text-align: center;
}
.canvas-wrapper {
    width:100%;
    text-align: center;
}
canvas {
    display:inline;
    margin:auto;
}